*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    display: grid;
    height: 100vh;
}

.app{
    display:flex;
    gap: 10rem;
    align-self: center;
    justify-content: center;
}

.sounds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

button{
    border: none;
    background: none ;
}

.timer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.clock{
    display: flex;
    font-size: 12rem;
    font-family: roboto;
}

.controls{
    justify-content: center;
    display: flex;
    gap:3rem;
}

.controls button:hover svg, .sound button svg{
filter:brightness(50%);
}

.buttonChecked{
    fill:#02799D;
}

.darkmode{
    background-color: black;
    color: aliceblue;    
}

.darkModeButton,.lightModeButton{
    position: absolute;
    right: 0;
    padding: 5rem;
}

.darkModeButton svg:hover,.lightModeButton svg:hover{
    fill:yellow
}
.hide{
    display: none;
}

@media (max-width:700px){
    .app{
        display:flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .clock{
        align-self: center;
        justify-content: center;
    }

    .sounds{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 5rem;
    }
}